@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Open+Sans:400,400i,600,600i,700,700i');

html,
body {
  background: #fff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

#container {
  margin: auto;
}

#header {
  margin-top: 2em;
}

#site-logo {
  float: right;
}

#site-title,
a:link,
a:active,
a:visited,
a:hover {
/*  color: #1da8be; */
color: #c6006e;
}

#site-title {
  font-weight: 700;
  font-size: xx-large;
}

#site-title a:link,
#site-title a:active,
#site-title a:visited,
#site-title a:hover {
  text-decoration: none;
}

#site-slogan,
#footer {
  color: #777;
}

#site-slogan {
  margin-top: .75em;
}

nav {
  clear: both;
  margin-top: 3em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul.first > li {
  display: block;
  margin: .5em 0;
}

nav ul.second,
nav ul.third {
  display: none;
}

nav a:link,
nav a:active,
nav a:visited,
nav a:hover {
  text-decoration: none;
}

nav a:link,
nav a:active,
nav a:visited {
  color: #444;
}

nav a:hover {
  color: #c6006e;
}

#content,
hr {
  border-top: 1px dashed #aaa;
}

#content {
  margin-top: 2em;
}

#article {
  margin-top: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
  font-weight: 400;
}

#article p, #article ol li, #article ul li {
  text-align: justify;
}

#article blockquote {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 1.05em;
  line-height: 1.5em;
}

#article dl dt {
  font-weight: bold;
}

#article dl dt em {
  font-weight: normal;
}

#article .timestamp,
#article .tags,
#article .tags a:link,
#article .tags a:active,
#article .tags a:visited,
#article .tags a:hover {
  color: #555;
}

hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 2.5em 0;
}

span.upper {
  text-transform: uppercase;
}

img.right {
  float: right;
  margin: 0 0 1em 1em;
}

img.left {
  float: left;
  margin: 0 1em 1em 0;
}

#footer {
  clear: both;
  padding-top: 2em;
  font-size: 90%;
}

ul.pagination {
  padding: 0;
  list-style-type: none;
}

.pagination li {
  display: inline-block;
}

.pagination .active a:link,
.pagination .active a:active,
.pagination .active a:visited,
.pagination .active a:hover,
.pagination .disabled a:link,
.pagination .disabled a:active,
.pagination .disabled a:visited,
.pagination .disabled a:hover {
  color: #555;
  text-decoration: none;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  #container {
    width: 950px;
  }

  nav ul li a {
    display: block;
    font-size: 90%;
  }

  nav ul.first > li {
    display: inline-block;
    position: relative;
    padding-right: 1.25em;
  }

  nav ul.second,
  nav ul.third {
    position: absolute;
    background: #fff;
    width: 212px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
  }

  nav ul.second {
    z-index: 2;
  }

  nav ul.third {
    z-index: 3;
  }

  nav ul.second li {
    position: relative;
  }

  nav ul.third {
    left: 212px;
    top: -1px;
  }

  nav ul.first li:hover ul.second,
  nav ul.second li:hover ul.third {
    display: block;
  }

  nav ul.second li a,
  nav ul.third li a {
    padding: 0.75em 1em;
  }

  #article {
    width: 576px;
    position: relative;
  }

  #summary {
    display: block;
    position: absolute;
    top: 0px;
    left: 608px;
    width: 342px;
  }
}

/* Grid layout */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrapper {
  max-width: 940px;
  margin: 0 20px;
 /* display: grid;*/
  grid-gap: 10px;
}


/* no grid support? */

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(200px, auto);
}

.panel {
  /* needed for the flex layout*/
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 auto;
}

.panel-tall {
  grid-row-end: span 2;
}

.panel-wide {
  grid-column-end: span 2;
}

.header, .slides, .footer {
  margin-left: 5px;
  margin-right: 5px;
  flex: 0 1 100%;
  grid-column: 1 / -1;
}

.wrapper > * {
  border-radius: 5px;
  padding: 10px;
  font-size: 100%;
  margin-bottom: 10px;
}


/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */

@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}

/* Home page divs */

.home {
  background: #ccc;
  color: #fff;
  width: 300px;
  height: 200px;
}

.home a:link, .home a:active, .home a:visited, .home a:hover {
  color: #ff0;
}

.home-about {
  background-image: url('/img/home/about.jpg');
}

.home-cards {
  background-image: url('/img/home/cards.jpg');
}

.home-contact {
  background-image: url('/img/home/contact.jpg');
}

.home-counselling {
  background-image: url('/img/home/counselling.jpg');
}

.home-fb {
  padding: 0;
}

.home-help {
  background-image: url('/img/home/help.jpg');
}

.home-newsletter {
  background-image: url('/img/home/newsletter.jpg');
}

.home-rehabilitation {
  background-image: url('/img/home/rehabilitation.jpg');
}

.home-specialist {
  background-image: url('/img/home/specialist.jpg');
}

.home-volunteer {
  background-image: url('/img/home/volunteer.jpg');
}
